@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.no-scroll {
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--header-bg);
  z-index: 1000;
}

.header__container {
  max-width: 287px;
  margin: 0 auto;
  padding-top: 37px;
  overflow: hidden;
  max-height: 50px;
  transition: max-height 0.5s ease;
}
.header__container.headermax-height {
  max-height: 600px;
}
.header__logo-wrapper > .header__nav,
.header__btn-login,
.header__btn-sign-up,
.card:nth-of-type(3),
.card:nth-of-type(4),
.hero__subtitle,
.hero__text,
.info__subtitle {
  display: none;
}

.header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  .header__wrapper-select {
    display: flex;
    align-items: center;
  }
  .header__custom-select-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    .header__select {
      margin-right: 21.5px;
      border: none;
      background-color: transparent;
      max-width: 38.5px;
      appearance: none;
    }
  }
}
.header__custom-select-wrapper::before {
  content: url("./arrow.svg");
  position: absolute;
  left: 21px;
}
.header__nav > .header__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 93px;
  padding-bottom: 98px;
  .header__item {
    color: var(--header-item-color);
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    line-height: 1.5;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-window {
  padding: 20px;
  border-radius: 10px;
}
.hero {
  margin-top: 150px;
}
.hero__container {
  margin: 0 auto;
}
.hero__subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  color: var(--hero-title);
  font-family: Volkhov;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.85416666667;
  position: relative;
  max-width: 337px;
}
.hero__title::before {
  content: url("");
  position: absolute;
  left: -50px;
  top: -350px;
}
.women-traveler {
  display: none;
}
.hero__wrapper-interaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19px;
  .hero__interaction-btn {
    border-radius: 10px;
    background: var(--yellow);
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    padding: 19px 26px 18px 27px;
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    border: none;
  }
  .hero__interaction-btn::after {
    content: url("./info-pluses.svg");
    position: absolute;
    top: -30px;
    right: -108px;
  }
  div {
    display: flex;
    align-items: center;
    gap: 21px;
    padding-top: 40px;
  }
  div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--redfull);
    box-shadow: 0px 15px 30px 0px #df69514d;
  }
  div > a::before {
    content: url("./Play\ button\ \(1\).svg");
  }
  div > P {
    color: var(--text-color);
    font-family: Poppins;
    font-size: 17px;
  }
}
.category {
  margin-top: 110px;
}
.category__container {
  max-width: 287px;
  margin: 0 auto;
}
.category__wrapper-title > h2 {
  color: var(--category-subtitle);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}
.category__wrapper-title > p {
  color: var(--category-title);
  text-align: center;
  font-family: Volkhov;
  font-size: 40px;
  font-weight: 700;
  padding-top: 24px;
}
.category__list {
  display: flex;
  flex-direction: column;
  gap: 37px;
  padding-top: 47px;
}
.category__card-title {
  color: var(--text-heading-color, #1e1d4c);
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  white-space: nowrap;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 36px;
  position: relative;
  background-color: white;
  padding: 25px 60px 45px 60px;

  p {
    color: var(--category-subtitle, #5e6282);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    padding-top: 15px;
  }
}
.card__shadow {
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02),
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
    0px 1.852px 3.148px 0px rgba(0, 0, 0, 0);
}

.category__square {
  position: absolute;
  bottom: -30px;
  left: -30px;
  border-radius: 30px 0px 10px 0px;
  background: #df6951;
  width: 102.036px;
  height: 100.967px;
  z-index: -1;
}
.disable {
  display: none;
}

.advantages {
  background-color: var(--white);
  padding-bottom: 72px;
  margin-top: 169px;
}

.advantages__container {
  padding: 0 45px 0 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__wrapper-title p {
  color: var(--category-subtitle, #5e6282);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}
.advantages__wrapper-title p span {
  display: block;
  padding-bottom: 8px;
}

.advantages__wrapper-title h2 {
  color: var(--hero-title, #131738);
  text-align: center;
  font-family: Volkhov;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

.advantages__list {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.advantages__item {
  position: relative;
  border-radius: 24px;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02),
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
    0px 1.852px 3.148px 0px rgba(0, 0, 0, 0);
}
.navigation-advantages-svg {
  width: 16px;
  height: 16px;
}

.advantages__img {
  width: 100%;
  border-radius: 24px;
}

.advantages__card-wrapper-title {
  display: flex;
  justify-content: space-between;
  padding: 27px 23px 0 19px;
}

.advantages__card-wrapper-route {
  padding: 0 23px 44px 19px;
  display: flex;
  gap: 11px;
}

.advantages__card-wrapper-info {
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.advantages__card-wrapper-title p {
  color: var(--category-subtitle, #5e6282);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
}

.advantages__card-wrapper-title p span {
  display: block;
}

.advantages__card-wrapper-route p {
  color: var(--category-subtitle, #5e6282);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}
.info {
  margin-top: 131px;
}
.info__container {
  max-width: 388px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 97px;
}
.info__wrapper-info {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.info__title {
  position: relative;
  color: var(--category-title, #14183e);
  text-align: center;
  font-family: Volkhov;
  font-size: 40px;
  font-weight: 700;
}
.info__title .break-word {
  display: block;
}
.info__title::before {
  content: url("./adventeges-pluses.svg");
  position: absolute;
  top: -175px;
  left: -6px;
  z-index: -1;
}
.info__list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.info__item {
  display: flex;
  gap: 21px;
}
.info_wrapper-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.info_wrapper-text h3 {
  color: var(--TEXT-CLR, #5e6282);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
}
.info_wrapper-text p {
  color: var(--TEXT-CLR, #5e6282);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}
.info__wrapper-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
  max-width: 253px;
  padding: 18px 20px 28px 20px;
  margin-left: 34px;
  border-radius: 26px;
  background: var(--white, #fff);
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02),
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
    0px 1.852px 3.148px 0px rgba(0, 0, 0, 0);
  position: relative;
}
.info__wrapper-card::after {
  content: url("./info-pluses.svg");
  position: absolute;
  right: -75px;
  bottom: -75px;
}
.info__wrapper-card > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.info__wrapper-women-beach {
  display: flex;
  justify-content: center;
  border-radius: 24px;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.info__card-title {
  color: var(--black, #080809);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
}
.info__card-wrapper-info:nth-of-type(1) p {
  color: var(--text-2, #84829a);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.info__card-wrapper-info:nth-of-type(1) p span {
  padding: 0 0 0px 15px;
}
.info__card-wrapper-info:nth-of-type(2) {
  display: flex;
  gap: 10px;
}
.info__card-wrapper-info:nth-of-type(3) {
  display: flex;
  gap: 73px;
}
.info__card-wrapper-info:nth-of-type(3) div {
  width: 100%;
  display: flex;
  gap: 11px;
}
.info__card-wrapper-info:nth-of-type(3) div p {
  color: var(--text-2, #84829a);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}
.testimonials {
  padding-top: 157px;
}
.testimonials__container {
  max-width: 359px;
  margin: 0 auto;
  padding-bottom: 74px;
}
.testimonials__wrapper-title {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.testimonials__subtitle {
  color: var(--category-subtitle, #5e6282);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}
.testimonials__title {
  color: var(--3rd, #14183e);
  text-align: center;
  font-family: Volkhov;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  span {
    display: block;
  }
}
.testimonials__card {
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02),
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
    0px 1.852px 3.148px 0px rgba(0, 0, 0, 0);
  padding: 21px 3px 16px 9px;
  position: relative;
  margin-top: 128px;
}
.tasty-man {
  border-radius: 100%;
  position: absolute;
  top: -45px;
  left: 145px;
}
.testimonials__card-text {
  color: var(--category-subtitle, #5e6282);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 2;
}
.testimonials__card-wrapper-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-top: 40px;
  h3 {
    color: var(--category-subtitle, #5e6282);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
  }
  p {
    color: var(--category-subtitle, #5e6282);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
  }
}
.partners {
  background-color: var(--white);
}
.partners__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: var(--category-subtitle, #5e6282);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
  }
}
.partners__svg {
  background: lightgray / 50%;
  mix-blend-mode: luminosity;
}
.partners__svg:nth-of-type(1) {
  width: 130px;
  height: 120px;
}
.partners__svg:nth-of-type(2) {
  width: 172px;
  height: 101px;
}
.partners__svg:nth-of-type(3) {
  width: 162px;
  height: 149px;
}
.partners__svg:nth-of-type(4) {
  width: 162px;
  height: 30px;
}
.partners__svg:nth-of-type(5) {
  display: none;
}
.subscribe {
  border-radius: 10px;
  background: var(
    --gradient,
    linear-gradient(180deg, #ff946d 0%, #ff7d68 100%)
  );
  color: var(--white, #fff);
  text-align: center;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  line-height: normal;
  padding: 15px 33px 18px 42px;
  margin-top: 98px;
  border: none;
  position: relative;
}
.subscribe::after {
  content: url("./purple-send.svg");
  position: absolute;
  top: 0;
  right: -90px;
}
.subscribe {
  display: none;
}

footer {
  margin-top: 73px;
  padding-top: 13px;
  background-color: var(--header-bg);
}
.footer__container {
  max-width: 287px;
  margin: 0 auto;
}
.footer__wrapper-title {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.footer__wrapper-title > h2 {
  color: var(--hero-title, #181e4b);
  font-family: Poppins;
  font-size: 44px;
}
.footer__wrapper-title > p {
  color: var(--category-subtitle, #5e6282);
  font-family: Poppins;
  font-size: 13px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-top: 58px;
}
.footer__list-item {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.footer__list-item > h3 {
  color: var(--black, #080809);
  font-family: Poppins;
  font-size: 21px;
  font-weight: 700;
}
.footer__item-link {
  display: flex;
  flex-direction: column;
  gap: 12px;
  a {
    color: var(--category-subtitle, #5e6282);
    font-family: Poppins;
    font-size: 18px;
  }
}

.footer__item-link a:hover {
  text-decoration: underline;
}
.footer__wrapper-discover > p {
  color: var(--category-subtitle, #5e6282);
  font-family: Poppins;
  font-size: 20px;
}
.footer__wrapper-social + p {
  color: var(--TEXT-CLR, #5e6282);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  padding-top: 69px;
}
.footer__wrapper-social {
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding-top: 58px;
}
.footer-wrapper-social-link {
  display: flex;
  gap: 20px;
}
.scale-social-link:hover {
  transform: scale(2);
  transition: transform 0.1s;
}
.footer__wrapper-discover {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.social-link-svg {
  width: 24px;
  height: 24px;
}

@media (min-width: 1440px) {
  .header__btn-login,
  .header__btn-sign-up {
    display: block;
  }

  .hero__subtitle,
  .hero__text,
  .info__subtitle {
    display: inline;
  }
  .header__container > .header__nav,
  .burger-menu {
    display: none;
  }
  header {
    backdrop-filter: blur(10px);
    background-color: transparent;
  }
  .header__container {
    max-width: 1160px;
  }
  .header__logo-wrapper {
    justify-content: flex-start;
  }
  .header__logo-icon {
    margin-right: 222px;
  }
  .header__logo-wrapper > .header__nav {
    margin-right: 86px;
    display: flex;
    align-items: center;
  }
  .header__list {
    display: flex;
    justify-content: space-between;
    .header__item:nth-of-type(1) {
      margin-right: 55px;
    }
    .header__item:nth-of-type(2) {
      margin-right: 64px;
    }
    .header__item:nth-of-type(3) {
      margin-right: 62px;
    }
  }
  .header__btn-login {
    margin-right: 52px;
    color: var(--1st, #212832);
    font-family: "Google Sans";
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    font-family: "Open sans";
  }
  .header__btn-login:hover {
    cursor: pointer;
    color: var(--category-subtitle);
  }
  .header__btn-sign-up {
    color: var(--1st, #212832);
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
    margin-right: 42px;
    background-color: transparent;
    padding: 9px 21px 9px 22px;
    border: 1px solid var(--1st, #212832);
    border-radius: 5px;
    font-family: "Open sans";
  }
  .header__btn-sign-up:hover {
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    box-shadow: 4px 4px 10px black;
  }
  .header__item > a {
    color: var(--1st, #212832);
    font-size: 17px;
    line-height: normal;
    font-family: "Open sans";
  }

  .hero {
    margin-top: 110px;
  }
  .hero__decore-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 700px;
    height: 700px;
    background-image: url("./decor-yellow.svg");
    background-repeat: no-repeat;
  }
  .hero__container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1150px;
  }
  .hero__wrapper {
    padding-left: 10px;
  }
  .women-traveler {
    position: relative;
    transform: translateX(-150px);
  }
  .women-traveler::before {
    position: absolute;
    top: 50px;
    left: 130px;
    content: url("./pseudo-plane.svg");
  }
  .women-traveler::after {
    position: absolute;
    top: 102px;
    left: 620px;
    z-index: -1;
    content: url("./pseudo-plane.svg");
  }
  .women-traveler {
    display: inline;
  }
  .hero__wrapper-title {
    align-items: flex-start;
  }
  .hero__subtitle {
    color: #df6951;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .hero__title {
    color: var(--1st, #181e4b);
    font-family: Volkhov;
    font-size: 84px;
    line-height: 1.05952380952;
    max-width: 545px;
    margin-top: 24px;

    span {
      white-space: nowrap;
    }
  }
  .hero__title::before {
    display: none;
  }
  .hero__text {
    color: #5e6282;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.875;
    max-width: 477px;
    margin-top: 30px;
  }
  .hero__interaction-btn::after {
    display: none;
  }
  .hero__interaction-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 15px 4px orange;
  }
  .hero__wrapper-interaction {
    flex-direction: row;
    gap: 44px;
    margin-top: 34px;
    div {
      padding: 0;
      a:hover {
        cursor: pointer;
      }
    }
  }

  .category__container {
    max-width: 1228px;
    position: relative;
  }
  .category__container::after {
    content: url("./categori-pluses.svg");
    position: absolute;
    top: 0;
    right: -80px;
  }
  .category__list {
    padding-top: 68px;
    flex-direction: row;
    gap: 73px;
  }
  .category__wrapper-title > h2 {
    color: var(--TEXT-CLR, #5e6282);
    font-size: 18px;
    line-height: normal;
  }
  .category__wrapper-title > p {
    font-size: 50px;
  }
  .card:nth-of-type(3),
  .card:nth-of-type(4) {
    display: flex;
  }
  .card {
    padding: 0 36px 45px 36px;
  }
  .category__card-title-first {
    margin-top: 29px;
  }
  .category__card-title-second {
    margin-top: 0;
  }
  .category__card-title-third {
    margin-top: 34px;
  }
  .category__card-title-fourth {
    margin-top: 30px;
  }

  .advantages__container {
    padding: 0 227px 0 174px;
  }
  .advantages__wrapper-title > h2 {
    font-size: 50px;
  }
  .advantages__wrapper-title > p {
    font-size: 18px;
  }
}
